In [2]:
#loops with range
for i in range(1,11):
        if i%2==0:
            print(i, "is even")
        else :
            print(i, "is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [3]:
for i in range(11): #default initial value is 0
        if i%2==0:
            print(i, "is even")
        else :
            print(i, "is odd")

0 is even
1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [10]:
for i in range(5,51,5): #updation value is 5 here
    print(i)

5
10
15
20
25
30
35
40
45
50

In [11]:
#backward traversal
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [14]:
#loops with tuples
tup=(1,2,3,4,5,6,7,8,9,10)
for i in tup:
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [5]:
#Loops in lists
list=[1,2,3,4,5,6,7,8,9,10]
for i in list:
    print(i, end=" ")
    print(i, end="\n")

1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9
10 10

In [14]:
#Traversal in nested lists and tuples
list1=[[1,2],[3,4],[5,6],[7,8],[9,10]]
for i in list1:
    for j in i:
        print(j)

1
2
3
4
5
6
7
8
9
10

In [19]:
tup1=(((1,2,3),(4,5,6)),((7,8,9),(10,11,12)))
for i in tup1:
    for j in i:
        for k in j:

            print(k, end=" ")

1 2 3 4 5 6 7 8 9 10 11 12

In [3]:
#Using multiple variables
list1=[[1,2,'X'],[3,4,'X'],[5,6,'X'],[7,8,'X'],[9,10,'X']]
for i,j,k in list1:
    print(i,j,k)

1 2 X
3 4 X
5 6 X
7 8 X
9 10 X

In [1]:
tup1=(((1,2,3),(4,5,6)),((7,8,9),(10,11,12)))
for i in tup1:
    for a,b,c in i:
        print(a)
        print(b)
        print(c)

1
2
3
4
5
6
7
8
9
10
11
12

In [7]:
#traversal in dictionary
dict1={1:'ONE',2:'TWO',3:'THREE',4:'FOUR',5:'FIVE'}
for d in dict1:
    print(d)

1
2
3
4
5

In [8]:
dict1={1:'ONE',2:'TWO',3:'THREE',4:'FOUR',5:'FIVE'}
for d in dict1.items():
    print(d)

(1, 'ONE')
(2, 'TWO')
(3, 'THREE')
(4, 'FOUR')
(5, 'FIVE')

In [9]:
dict1={1:'ONE',2:'TWO',3:'THREE',4:'FOUR',5:'FIVE'}
for a,b in dict1.items():
    print(a,b)

1 ONE
2 TWO
3 THREE
4 FOUR
5 FIVE

In [10]:
dict1={1:'ONE',2:'TWO',3:'THREE',4:'FOUR',5:'FIVE'}
for d in dict1.keys():
    print(d)

1
2
3
4
5

In [11]:
dict1={1:'ONE',2:'TWO',3:'THREE',4:'FOUR',5:'FIVE'}
for d in dict1.values():
    print(d)

ONE
TWO
THREE
FOUR
FIVE

In [19]:
#sorting values of obh=j by using sorted()
#This prints last value of c as c is updated in last obj
dict2={'a':25,'b':2,'c':5,'c':6,'d':4}
print(dict2)
print(sorted(dict2.values()))

{'a': 25, 'b': 2, 'c': 6, 'd': 4}
[2, 4, 6, 25]

In [20]:
list(dict2.keys())

['a', 'b', 'c', 'd']