In [ ]:
 # Tuples --> immutable(can't be changed)

In [1]:
tup=('one',2,2,'three','three','three',4.0,4.0,4.0,4.0)

In [2]:
tup

('one', 2, 2, 'three', 'three', 'three', 4.0, 4.0, 4.0, 4.0)

In [3]:
len(tup)

10

In [5]:
#indexing
print(tup[0])
print(tup[2])
print(tup[-1])

one
2
4.0

In [6]:
tup.index('one')

0

In [7]:
tup.index(2)

1

In [8]:
tup.index('three')

3

In [9]:
#Count occurance
tup.count(4.0)

4

In [10]:
#Immutability 1.
t[2]='two'

NameError: name 't' is not defined