In [3]:
#Range
print(range(1,11))

range(1, 11)

In [5]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
tuple(range(1,11))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [9]:
list(range(1,102,10))

[1, 11, 21, 31, 41, 51, 61, 71, 81, 91, 101]

In [12]:
#Enumerate  (item to be enumerated,start value)
for count,pro in enumerate(range(5,51,5)):
    print("5 * {} = {}".format(count+1,pro))

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [14]:
#enumerate returns output as a tuple 
print(enumerate({'a','b','c','d','e'}))

<enumerate object at 0x037A2208>

In [16]:
print(list(enumerate({'a','b','c','d','e'})))

[(0, 'd'), (1, 'c'), (2, 'a'), (3, 'e'), (4, 'b')]

In [18]:
list(enumerate('abcde'))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [21]:
list(enumerate('abcde',100))

[(100, 'a'), (101, 'b'), (102, 'c'), (103, 'd'), (104, 'e')]

In [15]:
set1={1,2,3,4,5,6}

In [16]:
print(list(set1))

[1, 2, 3, 4, 5, 6]

In [17]:
type(set1)

set

In [18]:
#ZIP -> makes list of two or more tuples of values at same indexes
myList1=["Aditya","Sahil Bhaiya","Abhas",]
myList2=[1,2,3]
zip(myList1,myList2)

In [21]:
list(zip(myList2,myList1))

[(1, 'Aditya'), (2, 'Sahil Bhaiya'), (3, 'Abhas')]

In [23]:
campus = ["KTR","RMP","VADAPALANI","AMRAVATI","DELHI"]
rank = [1,2,3,4,5]
for campus,rank in zip(campus,rank):
    print("Rank {} is {} campus".format(rank,campus))

Rank 1 is KTR campus
Rank 2 is RMP campus
Rank 3 is VADAPALANI campus
Rank 4 is AMRAVATI campus
Rank 5 is DELHI campus

In [32]:
# in Operator
"KTR" in campus #because campus ha value "DALHI" only after iterating

False

In [33]:
"AD" in ["AD","D","I","T","Y","A"]

True

In [34]:
name = ["A","D","I","T","Y","AP"]
"AP" in name

True

In [35]:
# min and max
min([2,7,11,8])

2

In [36]:
max([2,7,11,8])

11

In [38]:
max(range(5,11))

10

In [46]:
#Random
from random import shuffle as sf

In [40]:
myList = [22,33,44,55,66]

In [48]:
sf(myList)
myList

[22, 66, 33, 55, 44]

In [53]:
from random import randint

In [54]:
randint(1,10) #Returns random value from 1 to 10

2

In [62]:
#input
input("Enter your name\n")

Enter your name
Aditya

'Aditya'