In [ ]:
#Dynamic Typing -> This means that we can reassign our data type in python.

In [1]:
num=234
num

234

In [2]:
num=["Aditya","AP"]
num

['Aditya', 'AP']

In [56]:
#Reassigning shortcuts
a=10
a

10

In [57]:
a +=10
a

20

In [58]:
a *=2
a

40

In [59]:
a/=5
a

8.0

In [49]:
# type() returns data type of a variable

In [50]:
n=10
type(n)

int

In [41]:
n=10.0
type(n)

float

In [42]:
n="Aditya"
type(n)

str

In [43]:
n=["one","two","three"] #List can be further modified
type(n)

list

In [44]:
n=(1,2,3) #Tuple cant be further modified
type(n)

tuple

In [45]:
n={1:"One",2:"Two",3:"Three"} #Dictionary
type(n)

dict

In [61]:
#Temperature Celcius to Fahrenheit
temp_celcius=37.7778
temp_fah=((9/5)*temp_celcius)+32
temp_fah

100.00004